@model ChangePasswordViewModel
@{
	ViewData["Title"] = "Change password";
}

<main class="container">
	<h1>@ViewData["Title"]</h1>
	<h4>Change your password.</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="OldPassword"></label>
					<div class="input-group" id="show_hide_password">
						<input class="form-control passwordDisplay" asp-for="OldPassword">
						<div class="input-group-addon">
							<a href="" class="form-control" tabindex="-1">
								<i class="fa fa-eye-slash" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<span asp-validation-for="OldPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="NewPassword"></label>
					<div class="input-group" id="show_hide_new_password">
						<input class="form-control passwordDisplay" asp-for="NewPassword">
						<div class="input-group-addon">
							<a href="" class="form-control" tabindex="-1">
								<i class="fa fa-eye-slash" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ConfirmPassword"></label>
					<div class="input-group" id="show_hide_confirm_password">
						<input class="form-control passwordDisplay" asp-for="ConfirmPassword">
						<div class="input-group-addon">
							<a href="" class="form-control" tabindex="-1">
								<i class="fa fa-eye-slash" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Change</button>
			</form>
		</div>
	</div>
</main>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password .passwordDisplay').attr('type', 'password');
					$('#show_hide_password i').addClass("fa-eye-slash");
					$('#show_hide_password i').removeClass("fa-eye");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password .passwordDisplay').attr('type', 'text');
					$('#show_hide_password i').removeClass("fa-eye-slash");
					$('#show_hide_password i').addClass("fa-eye");
				}
			});

			$("#show_hide_new_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_new_password input').attr("type") == "text") {
					$('#show_hide_new_password .passwordDisplay').attr('type', 'password');
					$('#show_hide_new_password i').addClass("fa-eye-slash");
					$('#show_hide_new_password i').removeClass("fa-eye");
				} else if ($('#show_hide_new_password input').attr("type") == "password") {
					$('#show_hide_new_password .passwordDisplay').attr('type', 'text');
					$('#show_hide_new_password i').removeClass("fa-eye-slash");
					$('#show_hide_new_password i').addClass("fa-eye");
				}
			});

			$("#show_hide_confirm_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_confirm_password input').attr("type") == "text") {
					$('#show_hide_confirm_password .passwordDisplay').attr('type', 'password');
					$('#show_hide_confirm_password i').addClass("fa-eye-slash");
					$('#show_hide_confirm_password i').removeClass("fa-eye");
				} else if ($('#show_hide_confirm_password input').attr("type") == "password") {
					$('#show_hide_confirm_password .passwordDisplay').attr('type', 'text');
					$('#show_hide_confirm_password i').removeClass("fa-eye-slash");
					$('#show_hide_confirm_password i').addClass("fa-eye");
				}
			});
		});
	</script>
}