@{
	ViewData["title"] = "confirmation";
}

<main class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-12">

			<p>Your password changed successfully.</p>
		</div>
	</div>
</main>